<!--#11.31: view used to render following/followers-->
<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%=@user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 50), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate %>
    <%end%>
  </div>
</div>
<!--#11.5.3: was to create partials for:
users/_follow.html.erb
users/_unfollow.html.erb
static_pages/home.html.erb
users/show.html.erb
but was unable to find enought consistent code to partialize, & couldn't get params to pass. Ex: tried to pass "Follow" text
for f.submit btn but couldn't get it to work.
-->
