<!--#10.43 single feed item partial -->
<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%=  link_to feed_item.user.name, feed_item.user %>
  </span>
  <!--#10.5.6: wrapping words -->
  <span class="content"><%= wrap(feed_item.content) %> </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <!--#10.47: delete link for feed item -->
    <% if current_user?(feed_item.user) %>
      <!--#10.5.5: eliminate the duplication in the delete links-->
      <%= render :partial => 'microposts/delete confirmation', locals: {object: feed_item} %>
    <%#= link_to "delete", feed_item, method: :delete,
      #                               data: { confirm: "Are You Sure?!"},
      #                               title: feed_item.content %>
    <% end %>
</li>